<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 添加 queries 标签 -->
    <queries>
        <!-- 声明你需要查询 Shizuku 管理器的包名 -->
        <package android:name="moe.shizuku.privileged.api" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/host_ic_launcher"
        android:label="@string/base_general_app_name"
        android:roundIcon="@mipmap/host_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClipMaster">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ClipMaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ClipboardService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name=".provider.ClipDataProvider"
            android:authorities="${applicationId}.clip.data"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            tools:ignore="ExportedContentProvider" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>

</manifest>